:root {
  --black: #000000;
  --grey: #808080;
  --white: #ffffff;
  --orange: #fbbc04;
  --grey-2: #d9d9d9;
  --blue: #c9daf8;
}
*,
*::after,
*::before {
  box-sizing: padding-box;
  font-family: "Times new roman", sans-serif;
}

.vh,
.hidden {
  display: none;
}

.page-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  height: 100vh;
  overflow: auto;
}

.label__list,
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.label__list-item,
.list__item2 {
  border: 1px solid var(--black);
  text-transform: uppercase;
  outline-offset: -4px;
  outline: 1px solid var(--black);
  font-size: 24px;
  padding: 5px;
  font-weight: 700;
  padding: 12px 20px 12px 20px;
  margin-right: 1px;
}

.list__item--active1 {
  background-color: var(--grey);
  border-color: var(--white);
  outline-color: var(--white);
  color: var(--white);
  text-shadow: 1px 1px 1px var(--black),
  1px -1px 1px var(--black),
  -1px 1px 1px var(--black),
  -1px -1px 1px var(--black);
}

.day__title {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-size: 36px;
}
.table-title {
  font-size: 44px;
}
.table-title-2 {
  font-size: 36px;
}



.cabinet-table {
  outline-offset: -1px;
  outline: 1px solid var(--black);
  font-size: 24px;
}

.cabinet-table td {
  outline-offset: -3px;
  outline: 1px solid var(--black);
  padding: 5px 20px;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
}

.cabinet-table td:nth-child(1) {
  min-width: 35px;
  /* background: red; */
}

.special-lesson {
  font-size: 20px;
  min-width: 100%;
  padding: 0;
}
.bg-orange {
  background-color: var(--orange);
}

.bg-grey-2 {
  background-color: var(--grey-2);
}
.bg-blue {
  background-color: var(--blue);
}


td.hide-cell {
  outline-color: transparent;
  border-color: transparent;
}

td.cell-border-2px {
  border: 3px solid var(--black)
}

td.of-0 {
  outline-offset: 0;
}
td.ta-l {
  text-align: left;

}


.button-label__1,
.button-label__2,
.button-label__3,
.button-label__4,
.button-label__5,
.button-label__6,
.list__item {
  border: 1px solid var(--black);
  text-transform: uppercase;
  outline-offset: -4px;
  outline: 1px solid var(--black);
  font-size: 24px;
  padding: 5px;
  font-weight: 700;
  padding: 12px 20px 12px 20px;
  margin-right: 1px;
}

.day__button-2:checked .button-label__2
.day__button-1:checked .button-label__1 {
  background-color: var(--grey);
  border-color: var(--white);
  outline-color: var(--white);
  color: var(--white);
  text-shadow: 1px 1px 1px var(--black),
  1px -1px 1px var(--black),
  -1px 1px 1px var(--black),
  -1px -1px 1px var(--black);
}

.list,
.day__button,
.day {
  display: none;
}
.day__button-1:checked ~ .day-1,
.day__button-2:checked ~ .day-2,
.day__button-3:checked ~ .day-3,
.day__button-4:checked ~ .day-4,
.day__button-5:checked ~ .day-5,
.day__button-6:checked ~ .day-6 {
  display: block;
}
.day__button-1:checked ~ .label__list .button-label__1,
.day__button-2:checked ~ .label__list .button-label__2,
.day__button-3:checked ~ .label__list .button-label__3,
.day__button-4:checked ~ .label__list .button-label__4,
.day__button-5:checked ~ .label__list .button-label__5,
.day__button-6:checked ~ .label__list .button-label__6    {
  background-color: var(--grey);
  border-color: var(--white);
  outline-color: var(--white);
  color: var(--white);
  text-shadow: 1px 1px 1px var(--black),
  1px -1px 1px var(--black),
  -1px 1px 1px var(--black),
  -1px -1px 1px var(--black);
}
