
@import "less/vars.less";
@import "less/menu-news.less";
@import "less/grid.less";
@import "less/slider.less";

.class {
  font-weight: bold;
  &--red {
    color: darkorange;
  }
}

h1 {
  color: darkorange;
}
