.df {
    /*генерирует flex-контейнер уровня блока*/
    display: -webkit-flex;
    display: flex;
}

.dfinl {
    /*генерирует flex-контейнер уровня строки*/
    display: -webkit-inline-flex;
    display: inline-flex;
}

.ffdr {
    flex-direction: row;
}

.ffdrr {
    flex-direction: row-reverse;
}

.ffdc {
    flex-direction: column;
}

.ffdcr {
    flex-direction: column-reverse;
}

.fwn {
    flex-wrap: nowrap;
}

.fww {
    flex-wrap: wrap;
}

.fwr {
    flex-wrap: wrap-reverse;
}

.fwint {
    flex-wrap: initial;
}

.fwinh {
    flex-wrap: inherit;
}

.fo1 {
    -webkit-order: 1;
    order: 1;
}

.fo2 {
    -webkit-order: 2;
    order: 2;
}

.fo3 {
    -webkit-order: 3;
    order: 3;
}

.fo4 {
    -webkit-order: 4;
    order: 4;
}

.fo5 {
    -webkit-order: 5;
    order: 5;
}

.fo6 {
    -webkit-order: 6;
    order: 6;
}

.fjcfs {
    justify-content: flex-start;
}

.fjcfx {
    justify-content: flex-end;
}

.fjcc {
    justify-content: center;
}

.fjcsb {
    justify-content: space-between;
}

.fjcsa {
    justify-content: space-around;
}

.fjcint {
    justify-content: initial;
}

.fjcinh {
    justify-content: inherit;
}


/*flex-ai flex-star*/

.faisf {
    align-items: flex-start;
}

.fai-fe {
    align-items: flex-end;
}

.faic {
    align-items: center;
}

.faib {
    align-items: baseline;
}

.faistr {
    align-items: stretch;
}

.faiint {
    align-items: initial;
}

.faiinh {
    align-items: inherit;
}

.fasfs {
    align-self: flex-start;
}

.fasfend {
    align-self: flex-end;
}

.fasc {
    align-self: center;
}

.fasb {
    align-self: baseline;
}

.fasint {
    align-self: initial;
}

.fasinh {
    align-self: inherit;
}

.facfs {
    align-content: flex-start;
}

.facfe {
    align-content: flex-end;
}

.facc {
    align-content: center;
}

.facsb {
    align-content: space-between;
}

.facsa {
    align-content: space-around;
}

.facstr {
    align-content: stretch;
}

.facini {
    align-content: initial;
}

.facinh {
    align-content: inherit;
}

.fm-a * {
    margin: 0;
    padding: 0;
}

.fm-a {
    background: rgb(195, 216, 165);
    background: linear-gradient(0deg, rgba(195, 216, 165, 1) 0%, rgba(156, 191, 109, 1) 52%, rgba(124, 161, 74, 1) 100%);
}

.fm-a {
    min-height: 55px;
}

.fm-a a {
    padding: 0.75%;
    color: black;
    font-weight: normal;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    animation: b2pxb 8s infinite ease-in-out;
    text-decoration: none;
    border-radius: 0px 20px 0px 20px;
    background: #eaf2e1;
    font-size: 16px;
    transform: 300ms;
}

.fm-a a:hover {
    transform: 300ms;
    color: #546554;
    text-decoration: underline;
    background: rgb(195, 216, 165);
}

@keyframes b2pxb {
    0% {
        border: 2px solid #0b7e0e;
    }
    50% {
        border: 2px solid transparent;
    }
    100% {
        border: 2px solid #0b7e0e;
    }
}

.vh {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.main-links {
    /*min-width: 100%;*/
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 22px;
    font-family: arial, serif;
    border: 22px solid darkorange;
}

.main-links li {
    border: 2px solid darkblue;
    width: 30%;
    align-self: center;
    text-align: center;
    height: 75px;
}

.main-links a {
    color: white;
    /*width: 33%;*/
    font-weight: bold;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    padding: 25px;
}

.main-links a:hover {
    text-decoration: underline;
}

.bg1 {
    background-color: #55ac68
}

.bg2 {
    background-color: #961e28;
}

.bg3 {
    background-color: #1346d5;
}

.bg4 {
    background-color: #e16e21;
    width: 100%;
}

.table-literature {}

.table-literature span {
    font-size: 22px;
}

.table-literature>li {
    font-size: 20px;
    font-weight: bold;
}

.table-literature ol>li {
    font-size: 20px;
    font-weight: normal;
}

@keyframes AnimationBorder {
  0% { border: 5px solid transparent;}
  50% { border: 5px solid green;}
  100% { border: 5px solid transparent;}

}
.transparent-border-5px {
  border: 5px solid transparent;
  padding:15px;
  border-radius: 25px;
  margin:0;
  animation: AnimationBorder 7s infinite ease;
  margin:5px;
}
.blue-ts{
    text-shadow: 1px 1px 1px blue; 
    color: #34a5ef; 
    line-height: 1.2; 
    font-size: 22px; 

    text-align: center;
    padding:0;
    margin:0;
 /*   text-shadow: 1px 1px 1px black; color: orange;*/
}
.violet-ts {
    text-shadow: 1px 1px 1px black; 
    color: #6959f4; 
    font-size: 22px; 
    text-align: center;
}
.blue-ts {
    text-shadow: 1px 1px 1px blue; 
    color: #34a5ef;
    font-size: 22px; 
    text-align: center;
}

.green-ts {
    text-shadow: 1px 1px 1px black; 
    color: #00cc00;
}

.black-ts {
  text-shadow: 1px 1px 1px black; 
  text-transform: uppercase;
  color: rgba(215,0,13,1);

}
.green2-ts {
    text-shadow: 1px 1px 1px darkblue; 
    color: #3bc9a9;
}

.msk {
    text-shadow: 1px 1px 1px transparent; 
    color: #38c7e1;
}
.transparent-border-5px p, 
.transparent-border-5px ul,
.transparent-border-5px h1 {
    margin:0;
}
.transparent-border-5px ul {
    margin-top: 5px;
}

.fz20 {
    font-size: 20px;
}

.fz24 {
    font-size: 24px;
}
.fz28 {
    font-size: 28px;
}
.fz32 {
    font-size: 32px;
}
.ta-c {
    text-align: center;
}
.ta-l {
    text-align: left;
}
.fz18 {
    font-size: 18px;
}
.fw-bold {
    font-weight: bold;
}

.orange-ts {
   text-shadow: 1px 1px 1px black; 
   color: orange;
   font-size: 24px; 
   text-align: center;
}