@min768: ~"(min-width: 768px)";
@min100: ~"(min-width: 768px)";


@mobile: ~"(min-width: 0px) and (max-width: 375px)";
@tablet: ~"(min-width: 375px) and (max-width: 768px)";
@desktop: ~"(min-width: 768px)";

.page-body {
  margin: 0;
}
