<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>vue3</title>
  <link rel="stylesheet" href="style.css">
  <script src="vue-3.js"></script>
  <!-- <script src="https://unpkg.com/vue@3"></script> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <!-- Compiled and minified JavaScript -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>
<body>
  <div id="app" class="container">
    <div
      v-if="init"
      сlass="container"
      v-for="item in cabinets"
      v-bind:key="item.id"
    >
      <span v-if="!item.secondShift" class="collection__inner">
        <ul class="collection__list">
        <!-- {{item.secondShift}} -->
          <li class="collection__item">
            {{ item.name }}
          </li>
          <li
            class="collection__item"
            v-for="elem in item.DayOfWeek1"
            v-bind:key="elem">
              {{ elem }}
          </li>
        </ul>
      </span>
    </div>
  </div>
<script>
const { createApp } = Vue;

createApp({
  data() {
    return {
      message: 'Hello Vue!',
      init: false,
      cabinets: [],
    }
  },
  mounted() {
    try {
      fetch("./cabinets.json")
        .then((response) => response.json())
        .then((json) => this.cabinets = json)
        .then((json) => console.log(json))
        .then(this.init = true);
    } catch(erros) {
          console.error("erorr", erros)
      }
    },
  }).mount('#app');


  </script>
</body>
</html>
