*,
*::after,
  *::before {
  box-sizing: border-box;
  box-sizing: padding-box;
  font-family: 'JetBrains Mono','Times New Roman', 'Roboto', arial;
  /* "Central-Regular", arial; */
  /* ,"Roboto","Times new roman", sans-serif; */
}

.page-body {
  margin: 0;
  padding: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAMAAAApB0NrAAAABlBMVEX///+pqalTpKl9AAAAAnRSTlMAGovxNEIAAAAdSURBVDjLY2AAAUaG4UYxDDsfjfp91O+jfqfE7wCzpQCw/dq+qQAAAABJRU5ErkJggg==');

}

.app-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* justify-content: flex-start; */
  text-align: center;
}
.container__wrapper {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* justify-content: flex-start; */
  text-align: center;
}

.list__item {
  text-transform: uppercase;
  border: 2px solid #000000;
  font-size: 24px;
  padding: 2px 15px;
  margin-right: 5px;
  transition: all 500ms cubic-bezier(1, .61, .04, .40);
}


.collection {
  /* width: 25%; */
  border: 2px solid blue;
}
.collection__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.collection__item {
  /* width: 25%; */
  outline: 1px solid blue;
  outline-offset: -2px;
  padding: 10px 15px;
}

.button__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  min-width: 100%;
}
.day__button-label {
    text-transform: uppercase;
  border: 2px solid #000000;
  font-size: 24px;
  padding: 2px 15px;
  margin-right: 5px;
  transition: all 500ms cubic-bezier(1, .61, .04, .40);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  text-transform: uppercase;
  border: 2px solid #000000;
  font-size: 24px;
  padding: 2px 15px;
  margin-right: 5px;
  transition: all 500ms cubic-bezier(1, .61, .04, .40);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom-color: transparent; */
      text-transform: uppercase;
    border: 2px solid #000000;
    font-size: 24px;
    padding: 2px 15px;
    margin-right: 5px;
    transition: all 500ms cubic-bezier(1, .61, .04, .40);
}

.list__item {
  text-transform: uppercase;
  border: 2px solid #000000;
  font-size: 24px;
  padding: 2px 15px;
  margin-right: 5px;
  transition: all 500ms cubic-bezier(1, .61, .04, .40);
}

.button--active {
  text-transform: uppercase;
  font-size: 24px;
  padding: 2px 15px;
  margin-right: 5px;
  transition: all 500ms cubic-bezier(1, .61, .04, .40);

  box-sizing: padding-box;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000,
  1px -1px 1px #000000,
  -1px 1px 1px #000000,
  -1px -1px 1px #000000;
  background-color: #65d261;
  letter-spacing: 4px;
  border: 10px double #29bd5b;
}


.second-shift .collection__item:nth-child(5) {
  background-color: rgb(64, 218, 89);
}
